<%- include("partials/header.ejs") %>
  <body>
    <div class="main">
      <img class="mainBanner" src="https://www.noticiasmagazine.pt/files/2021/02/spinning-record-player-with-vintage-vinyl-1200x675.jpg" class="img-fluid" alt="Banner"">
      <hr>
      <div class="content">
        <p>
          <h2>Bem-vindos ao Fireside Discos</h2><br>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur soluta aut laudantium voluptate quis repudiandae laboriosam adipisci expedita excepturi, sequi nobis voluptatum aliquam ullam iure magnam necessitatibus animi. Facere, quia. <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. A est, aut explicabo magni voluptates, ipsam impedit dolores, officia eius ea inventore nam? Nisi accusamus corrupti nostrum aliquid commodi numquam. Quo! <br><br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem dolore hic possimus assumenda fugit! Exercitationem, porro! Illum ipsum voluptate itaque veritatis adipisci sunt dolorum sed, debitis cupiditate dolorem! Corrupti, repellendus.
          </p>  
        </p>
      </div>
    </div>
  </body>
<%- include("partials/footer.ejs") %>
