<%- include("partials/header.ejs") %>
  <body>
    <img src="https://www.noticiasmagazine.pt/files/2021/02/spinning-record-player-with-vintage-vinyl-1200x675.jpg" class="img-fluid" alt="Banner" style="height: 350px; width: 1200px; margin-top: 65px; margin-left: 14%;">
  </body>
<%- include("partials/footer.ejs") %>
